[Desktop Entry]
Version=1.0
Type=Application
Name=Guild Wars 2
Comment=
Exec=/home/pc/Games/GW2/bin/user_run
Icon=/home/pc/Games/GW2/GW2_Icon.png
Path=
Terminal=false
StartupNotify=false
